{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": "off",
    "comma-dangle": ["error", "never"],
    "implicit-arrow-linebreak": ["warn", "below"],
    "function-paren-newline": "off",
    "no-plusplus": "off",
    "no-undef": "error",
    "no-use-before-define": "error",
    "no-underscore-dangle": "off"
  }
}
